extends layout

block content
  .container
    h1= contact.firstName + ' ' + contact.lastName

    p Email: #{contact.email}
    p Notes: #{contact.notes}
    p Date Created: #{contact.dateCreated}

    a.btn.btn-secondary(href=`/contacts/${contact.id}/edit`) Edit

    form(action=`/contacts/${contact.id}/delete`, method='POST')
      button.btn.btn-danger(type='submit') Delete Contact

    a.btn.btn-primary(href='/contacts') Back to Contacts