extends layout

block content
  .container
    h1 All Contacts
    each contact in contacts
      .contact-box
        h2 #{contact.firstName} #{contact.lastName}
        p Email: #{contact.email}
        p Notes: #{contact.notes}
        p dateCreated #{contact.dateCreated}

        a(href=`/contacts/${contact.id}/edit`) Edit

        form(method='POST', action=`/contacts/${contact.id}/delete`)
        input(type='hidden', name='_method', value='DELETE')
        button(type='submit') Delete
