extends layout

block content
  h1= contact.firstName + ' ' + contact.lastName
  p Email: #{contact.email}
  p Notes: #{contact.notes}
  p dateCreated #{contact.dateCreated}
  form(method='POST', action=`/contacts/${contact.id}/delete`)
    input(type='hidden', name='_method', value='DELETE')
    
    button(type='submit') Delete Contact
